
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=La+Belle+Aurore&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    scroll-behavior: smooth;
  }
  @layer utilities {
    .animate-scroll-infinite {
      animation: scroll 40s linear infinite;
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-1700px); /* Calculated based on the number of slides and their width */
      }
    }
  }
  